<!DOCTYPE html><html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel="stylesheet" href="https://cdn.statically.io/gh/jiak1/ServerList/e7b03502/bootstrap.min.css">
	 
	<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
	 {% block head %} {% endblock %}
</head>

<body>
	<nav id= "mainNav" class="navbar navbar-expand-lg navbar-dark py-md-3" >
		<div class="container-fluid" style="max-width:90%">
		<a class="navbar-brand" href="#">
          <img src="{{url_for('static',filename='images/icon.png')}}" align="left" alt="" style="max-width:60px;max-height:40px;padding-right:15px"><h1 id="title">Minecraft Servers</h1>
        </a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="border-color: rgba(1,1,1,0);">
		<span class="">   
    	<i class="fas fa-bars" style="color:#fff; font-size:28px;"></i>
		</span>
	</button>

		<div class="collapse navbar-collapse justify-content-end" id="navbarColor01">
		<ul class="navbar-nav">
			<li class="{{ 'nav-item active' if active_page == 'home' else 'nav-item' }}">
			<a class="nav-link" href="{{url_for('MCRoutes.MCHomePage')}}"><i class="fas fa-search"></i> Search</a>
			</li>
			<li class="{{ 'nav-item active' if active_page == 'servers' else 'nav-item' }}">
			<a class="nav-link" href="{{url_for('MCRoutes.addServerPage')}}"><i class="fas fa-plus-circle"></i> Add A Server</a>
			</li>
			<li class="{{ 'nav-item active' if active_page == 'advertise' else 'nav-item' }}">
			<a class="nav-link" href="{{url_for('MCRoutes.advertisePage')}}"><i class="fas fa-star"></i> Advertise</a>
			</li>
			{% if current_user.is_anonymous %}
			<li class="{{ 'nav-item active' if active_page == 'login' else 'nav-item' }}"><a class="nav-link" href="{{url_for('MCRoutes.loginPage')}}"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
			</li>
			{% else %}
			<li class="nav-item"><a class="nav-link" href="{{url_for('MCRoutes.serversPage')}}"><i class="fas fa-server"></i> Servers</a></li>
			<li class="{{ 'nav-item active' if active_page == 'logout' else 'nav-item' }}"><a class="nav-link" href="{{url_for('MCRoutes.logoutPage')}}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
			{% endif %}
		</ul>
		</div></div>
  	</nav>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	 crossorigin="anonymous">
	</script>
	<script src="https://cdn.statically.io/gh/jiak1/ServerList/68948e76/bootstrap.min.js">
	</script>
	<script src="https://cdn.statically.io/gh/jiak1/ServerList/e01fcaf9/80f1a476ae.js"></script>
	{% block beforeBody %}
	{% endblock %}
	<div class="container-fluid" style="max-width:90%">
	{% block body %} {% endblock %}
	</div>
</body>

</html>