{% extends 'mc/base.html' %}
{% set active_page = "account" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='css/account.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/form.css')}}">
<title>Delete Account - Minecraft Server Lists</title>
{% endblock %}

{% block beforeBody %}
{% endblock %}

{% block body %}
<br>
<div class="container-sm" style="background-color:white;padding:10px;padding-top:30px;border-radius:5px">
	{% include 'notify.html' %}
	<h4 class="h3 font-weight-normal" style="margin:auto;width:50%;text-align:center;color:black;">Delete Account</h4>
	<div id="form-custom" style="background-color:white;padding-top:0px">
	<form action="" method="post" class="form-account" role="form" id="DeleteForm">
		{{ deleteForm.hidden_tag() }}
	<p class="form-text text-muted" style="text-align:center">Confirm you wish to delete the account for {{current_user.email}}</p>
	<div class="collapse show" id="deleteInfo" style="padding-top:0px;padding-bottom:20px">
	<div class="card card-body">
		<p>Deleting your Account will instantly remove all of your data, including irreversibly <b>deleting all of your servers from our site.</b></p>
	</div>
	</div>

	<div class="form-label-group">
			<input type="email" id="confirmEmail" name="confirmEmail" class="form-control" placeholder="Account Email" required>
			<label for="confirmEmail">Account Email</label>
	</div>
	{% if current_user.isGoogle == False %}
	<div class="form-label-group">
			<input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Account Password" required>
			<label for="confirmPassword">Account Password</label>
	</div>
	{% endif %}

	<div class="checkbox mb-3">
    <label>
      <input type="checkbox" required> I understand that deleting my account is instant and irreversible.
    </label>
  </div>

	<button class="btn btn-lg btn-danger btn-block" type="submit" name="deleteSubmit" id="deleteSubmit">Permanently Delete Account</button></form>
	</div>
</div>
{% endblock %}