{% extends 'mc/base.html' %}
{% set active_page = "login" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='css/editServer.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/form.css')}}">
<!-- Bootstrap Form Helpers -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/css/bootstrap-formhelpers.min.css" rel="stylesheet" />
<link href="{{url_for('static',filename='css/bootstrap-glyphicons.min.css')}}" rel="stylesheet">
<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput-typeahead.css" rel="stylesheet" />
-->
<link href="{{url_for('static',filename='css/tagsinput.css')}}" rel="stylesheet">
<title>Edit Server - Minecraft Server Lists</title>
{% endblock %}

{% block beforeBody %}
<!-- Bootstrap Form Helpers -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/js/bootstrap-formhelpers.min.js"></script>
<script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
<script src="{{url_for('static',filename='js/bootstrap-tagsinput.min.js')}}"></script>
{% endblock %}

{% block body %}
<br>
<div class="container-md" style="background-color:white">
	{% include 'notify.html' %}
<div id="form-server">
  <form action="" method="post" class="form-server" role="form" id="ServerForm">
	{{ form.hidden_tag() }}
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal" style="text-align:left">{{header}}</h1>
    <p></p>
  </div>

  <div class="form-label-group">
    <input type="text" id="name" name="name" class="form-control" placeholder="Server Name" required autofocus="" minlength="5" maxlength="50">
    <label for="name">Server Name</label>
	<small id="nameHelp" class="form-text text-muted">Ensure this is only the server name without anything else</small>
  </div>

  <div class="row">
	<div class="col-sm-8">
		<div class="form-label-group">
		<input type="text" id="ip" name="ip" class="form-control" placeholder="IP Address" required  minlength="5" maxlength="35">
		<label for="ip">IP Address</label>
		<small id="ipHelp" class="form-text text-muted">The address users will enter in order to connect, do not include the port</small>
	</div></div>
    <div class="col-sm-4">
		<div class="form-label-group">
		<input type="number" id="port" name="port" class="form-control" placeholder="Port" required value="25565" min="1" max="65535">
		<label for="port">Port</label>
		<small id="portHelp" class="form-text text-muted">The port used to connect, the default is 25565</small>
		</div>
    </div>
  </div>

<div class="row" style="margin-bottom:10px">
	<div class="col-sm-8">
		<label for="country" style="vertical-align:baseline;padding-right:10px;">Country</label>
		<div class="bfh-selectbox bfh-countries" data-country="US" data-flags="true" data-name="country" data-value="US" data-blank="false" name="country" data-filter="true"></div>
		<small id="countryHelp" class="form-text text-muted" style="margin-top:0px">The country the server is located in</small>
    </div>
  </div>

<div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" name="description" rows="4" placeholder="Enter a meaningful description, describe your features and the appeal to new players..." minlength="30" maxlength="1000" required></textarea>
  </div>

<div class="form-group">
    <label for="serverType">Type</label>
    <select class="form-control" id="serverType" name="serverType">
      <option>Vanilla</option>
      <option>Semi-Vanilla</option>
      <option>Bukkit</option>
      <option>Spigot</option>
      <option>Paper</option>
	  <option>Modded</option>
    </select>
	<small id="typeHelp" class="form-text text-muted">Vanilla - Using the default minecraft server jar<br>Semi-Vanilla - Datapacks are installed<br>Bukkit/Spigot/Paper - Plugins are installed<br>Modded - Mods are required to connect
	</small>
</div>

<div class="form-group"  id="datapacksDiv">
	<label for="datapacks">Datapacks</label>
	<input type="text" value="Double Shulker Shells, More Player Heads" id="datapacks" name="datapacks" data-role="datapacksinput" >
	<small id="datapacksHelp" class="form-text text-muted">Choose up to 10 key datapacks that are on your server</small>
</div>

<div class="form-group"  id="pluginsDiv">
	<label for="plugins">Plugins</label>
	<input type="text" value="Worldedit, Votifier" id="plugins" name="plugins" data-role="pluginsinput" >
	<small id="pluginsHelp" class="form-text text-muted">Choose up to 10 key plugins that are on your server</small>
</div>

<div class="form-group" id="modsDiv">
	<label for="mods">Mods/Modpack</label>
	<input type="text" value="Not Enough Items, Redpower" id="mods" name="mods" data-role="modsinput" >
	<small id="modsHelp" class="form-text text-muted">Choose up to 10 key mods or the modpack that is required on your server</small>
</div>

<div class="form-group">
	<label for="tags">Tags</label>
	<input type="text" value="" id="tags" name="tags" data-role="tagsinput">
	<small id="tagHelp" class="form-text text-muted">Choose up to 10 tags describing your server to help players find you</small>
</div>

<div class="form-group">
	<label for="website">Website</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">https://</div>
        </div>
        <input type="text" class="form-control" id="website" name="website" placeholder="" maxlength="100">
      </div>
	<small id="websiteHelp" class="form-text text-muted">OPTIONAL A link to your website, do not include the https://</small>
</div>

<div class="form-group">
	<label for="discord">Discord</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">https://discord.gg/</div>
        </div>
        <input type="text" class="form-control" id="discord" name="discord" placeholder="" maxlength="15">
      </div>
	<small id="discordHelp" class="form-text text-muted">OPTIONAL A link to your servers Discord, ensure the invite is permanent. Only enter the section of the URL after https://discord.gg/</small>
</div>

<div class="form-group">
	<label for="trailer">Trailer</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">youtube.com/watch?v=</div>
        </div>
        <input type="text" class="form-control" id="trailer" name="trailer" placeholder="" maxlength="15">
      </div>
	<small id="trailerHelp" class="form-text text-muted">OPTIONAL A trailer showcasing your server, in the format of a youtube video. Only enter the section of the URL after v=</small>
	<div id="trailerShowcase" class="container-sm" style="padding:10px"><div class="videoWrapper">
		<iframe id="trailerFrame" max-width="560" max-height="315" frameborder="0" allow="accelerometer; encrypted-media; gyroscope;" allowfullscreen></iframe>
	</div></div>
</div>

  <div class="checkbox mb-1 mt-3">
    <label>
      <input type="checkbox" required> I am the owner of the server and agree that all details provided are correct.
    </label>
  </div>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" required> I have read and agree to the <a href="/terms"> Terms of Use</a>.
    </label>
  </div>
  <button class="btn btn-lg btn-success btn-block" type="button" name="review" id="review" >Submit Server For Review</button>
  <button style="display:none" type="submit" name="btnSubmit" id="btnSubmit" ></button>
  </form>
  </div></div>

<!-- Submission Modal -->
<div class="modal fade" id="submissionModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Verifying Submission</h5>
        <button id="closeModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="modal-body" style="margin-left:10px;margin-right:10px">
	<div id="test1" class="row">
        <p class="float-left" style="padding-top:2px">Pinging Server... </p><i class="fas fa-check float-right" id="test1Check"></i><i class="float-right fas fa-exclamation-triangle" id="test1Fail"></i><div id="test1Load" class="spinner-border text-success float-right" role="status"><span class="sr-only">Loading...</span></div></div>
	<div id="test2" class="row">
        <p class="float-left" style="padding-top:2px">Getting Server Details... </p><i class="fas fa-check float-right" id="test2Check"></i><i class="float-right fas fa-exclamation-triangle" id="test2Fail"></i><div id="test2Load" class="spinner-border text-success float-right" role="status"><span class="sr-only">Loading...</span></div></div>
	<div id="details"  class="row-5">
        <b>Server IP: </b><samp id="IP_DETAILS"></samp><br>
		<b>Server MOTD: </b><samp id="MOTD_DETAILS"></samp><br>
		<b>Server Version: </b><samp id="VERSION_DETAILS"></samp><br>
		<b>Server Protocol: </b><samp id="PROTOCOL_DETAILS"></samp><br>
		<b>Server Players: </b><samp id="PLAYER_DETAILS"></samp><br>
		</div>
	<div id="extra"  class="row">
        <p class="float-left" style="padding-top:10px" id="extraText"></p></div>
      </div>
      <div class="modal-footer">
        <button id="closeModal2" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		<button id="submitForm" type="button" class="btn btn-success">Confirm Submission</button>
      </div>
    </div>
  </div>
</div>

<script>
updateTrailer();

$("#trailer").change(updateTrailer);

function updateTrailer(){
	if($("#trailer").val() != ""){
		$("#trailerFrame").attr('src',"https://www.youtube.com/embed/"+ $("#trailer").val())
		$("#trailerShowcase").show();
		$("#trailerFrame").css({"max-height":"","max-width":""})
	}else{
		$("#trailerShowcase").hide();
	}
}
</script>

<script>
document.getElementById("review").onclick = trySubmit;
document.getElementById("submitForm").onclick = submitForm;

function submitForm(){
	document.getElementById("ServerForm").submit();
}

function hideTests(){
	$("#test1").hide();
	$("#test2").hide();
	$("#details").hide();
	$("#extraText").text("");
}

function showTest1(){
	hideTests();
	$("#test1Check").hide();
	$("#test1Fail").hide();
	$("#test1Load").show();
	$("#test1").show();
}

function showTest2(){
	$("#test2Check").hide();
	$("#test2Fail").hide();
	$("#test2Load").show();
	$("#test2").show();
}

function testsFailed(){
	$("#closeModal").show();
	$("#closeModal2").show();
}

function trySubmit() {
	if(document.getElementById("ServerForm").reportValidity()){
	$("#closeModal").hide();
	$("#closeModal2").hide();
	$("#submitForm").hide();

	showTest1();

    $("#submissionModal").modal({
  		keyboard: false,
		focus:true,
		backdrop:"static"
	})

	SendPing($("#ip").val(),$("#port").val());
}}

function SendPing(ip, port){
	var _data = {"IP":ip,"PORT":port}
	$.ajax({
			type: "POST",
			url: "API/PING",
			data: JSON.stringify(_data),
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function(data){
				if(data["STATUS"] == "ONLINE"){
				$("#test1Check").show();
				$("#test1Load").hide();
				GetStatus(ip,port);
				}else{
					$("#test1Fail").show();
					$("#test1Load").hide();
					testsFailed();
					$("#extraText").text("Unable to reach your server, check it is online and this IP address is correct: "+ip+":"+port);
				}
			},
			error: function(errMsg) {
				$("#test1Fail").show();
				$("#test1Load").hide();
				testsFailed();
				$("#extraText").text("Unable to reach servers, check your internet connection is working.");
    		},
			timeout: 5000,
	})
}

function GetStatus(ip,port){
	showTest2();
	var _data = {"IP":ip,"PORT":port}
	$.ajax({
			type: "POST",
			url: "API/STATUS",
			data: JSON.stringify(_data),
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function(data){
				if(data["STATUS"] == "ONLINE"){
				$("#test2Check").show();
				$("#test2Load").hide();
				$("#closeModal2").show();
				$("#submitForm").show();
				SetupDetails(data,ip,port)
				}else{
					$("#test2Fail").show();
					$("#test2Load").hide();
					testsFailed();
					$("#extraText").text("Unable to reach your server, check it is online.");
				}
			},
			error: function(errMsg) {
				$("#test2Fail").show();
				$("#test2Load").hide();
				testsFailed();
				$("#extraText").text("Unable to reach servers, check your internet connection is working.");
    		},
			timeout: 5000,
	})
}

function SetupDetails(data,ip,port){
	if(port != "25565"){
	$("#IP_DETAILS").text(ip+":"+port)
	}else{
	$("#IP_DETAILS").text(ip)
	}
	$("#MOTD_DETAILS").text(data['MOTD'])
	$("#PROTOCOL_DETAILS").text(data['PROTOCOL'])
	$("#VERSION_DETAILS").text(data['VERSION'])
	$("#PLAYER_DETAILS").text(data['PLAYER_COUNT']+"/"+data['PLAYER_MAX'])
	$("#details").show();
}

</script>
<script>
var data = ["Amsterdam",
    "London",
    "Paris",
    "Washington",
    "New York",
    "New Jersey",
    "New Orleans",
    "Los Angeles",
    "Sydney",
    "Melbourne",
    "Canberra",
    "Beijing",
    "New Delhi",
    "Kathmandu",
    "Cairo",
    "Cape Town",
    "Kinshasa"];
var citynames = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    local: $.map(data, function (city) {
        return {
            name: city
        };
    })
});
citynames.initialize();
$('#tags').tagsinput({
	typeaheadjs: [{
          minLength: 1,
          highlight: true,
    },{
        minlength: 1,
        name: 'citynames',
        displayKey: 'name',
        valueKey: 'name',
        source: citynames.ttAdapter()
    }],
    freeInput: true,
	maxTags: 10,
	maxChars: 20,
	trimValue: true,
	allowDuplicates: false,
});

var pluginsOn = false;
var modsOn = false;
var datapacksOn = false;

function hideAll(){
	$('#datapacksDiv').hide();
	$('#pluginsDiv').hide();
	$('#modsDiv').hide();
}

$("#serverType").change(function() {
  if ($(this).val() == "Vanilla") {
    hideAll();
  } else if ($(this).val() == "Semi-Vanilla"){
    hideAll();
	$('#datapacksDiv').show();
	testDatapacks();
  }else if ($(this).val() == "Modded"){
    hideAll();
	$('#modsDiv').show();
	testMods();
  }else {
    $('#modsDiv').hide();
	$('#datapacksDiv').show();
	$('#pluginsDiv').show();
	testPlugins();
	testDatapacks();
  }
});

$("#serverType").trigger("change");


function testMods(){
	if(modsOn == false){
	$('#mods').tagsinput({
	typeaheadjs: [{
          minLength: 1,
          highlight: true,
    },{
        minlength: 1,
        name: 'citynames',
        displayKey: 'name',
        valueKey: 'name',
        source: citynames.ttAdapter()
    }],
    freeInput: true,
	maxTags: 10,
	maxChars: 20,
	trimValue: true,
	allowDuplicates: false,
	});
	modsOn = true;
	}
}

function testPlugins(){
	if(pluginsOn == false){
	$('#plugins').tagsinput({
	typeaheadjs: [{
          minLength: 1,
          highlight: true,
    },{
        minlength: 1,
        name: 'citynames',
        displayKey: 'name',
        valueKey: 'name',
        source: citynames.ttAdapter()
    }],
    freeInput: true,
	maxTags: 10,
	maxChars: 20,
	trimValue: true,
	allowDuplicates: false,
	});
	pluginsOn = true;
	}
}

function testDatapacks(){
	if(datapacksOn == false){
	$('#datapacks').tagsinput({
	typeaheadjs: [{
          minLength: 1,
          highlight: true,
    },{
        minlength: 1,
        name: 'citynames',
        displayKey: 'name',
        valueKey: 'name',
        source: citynames.ttAdapter()
    }],
    freeInput: true,
	maxTags: 10,
	maxChars: 20,
	trimValue: true,
	allowDuplicates: false,
	});
	datapacksOn = true;
	}
}
</script>
{% endblock %}