{% extends 'mc/base.html' %}
{% set active_page = "servers" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='css/editServer.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/form.css')}}">
<!-- Bootstrap Form Helpers -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/css/bootstrap-formhelpers.min.css" rel="stylesheet" />
<link href="{{url_for('static',filename='css/bootstrap-glyphicons.min.css')}}" rel="stylesheet">
<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput-typeahead.css" rel="stylesheet" />
-->
<link href="{{url_for('static',filename='css/tagsinput.css')}}" rel="stylesheet">

<title>Edit Server - Minecraft Server Lists</title>
{% endblock %}

{% block beforeBody %}
<!-- Bootstrap Form Helpers -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/js/bootstrap-formhelpers.min.js"></script>
<script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
<script src="{{url_for('static',filename='js/bootstrap-tagsinput.min.js')}}"></script>
{% endblock %}

{% block body %}
<br>
<div class="container-md" style="background-color:white">
	{% include 'notify.html' %}
<div id="form-server">
  <form action="" method="post" class="form-server" role="form" id="ServerForm">
	{{ form.hidden_tag() }}
  <div class="text-center mb-4">
	{% if server.verified == 1 %}
		<h1 class="h3 mb-3 font-weight-normal" style="text-align:left">Edit Your Server</h1>
	{% else %}
    	<h1 class="h3 mb-3 font-weight-normal" style="text-align:left">Resubmit Your Server For Verification</h1>
		<h5 style="text-align:left">Reviewer Notes:</h5>
    	<div class="alert alert-danger" role="alert" style="margin-top:10px">
		{{server.rejectReason}}</b>
		</div>
	{% endif %}
  </div>

  <div class="form-label-group">
    <input type="text" id="name" name="name" class="form-control" placeholder="Server Name" required autofocus="" minlength="5" maxlength="50" value="{{server.name}}">
    <label for="name">Server Name</label>
	<small id="nameHelp" class="form-text text-muted">Ensure this is only the server name without anything else</small>
  </div>

  <div class="row">
	<div class="col-sm-8">
		<div class="form-label-group">
		<input type="text" id="ip" name="ip" class="form-control" placeholder="IP Address" required  minlength="5" maxlength="35" value="{{server.ip}}">
		<label for="ip">IP Address</label>
		<small id="ipHelp" class="form-text text-muted">The address users will enter in order to connect, do not include the port</small>
	</div></div>
    <div class="col-sm-4">
		<div class="form-label-group">
		<input type="number" id="port" name="port" class="form-control" placeholder="Port" required value="{{server.port}}" min="1" max="65535">
		<label for="port">Port</label>
		<small id="portHelp" class="form-text text-muted">The port used to connect, the default is 25565</small>
		</div>
    </div>
  </div>
  <div class="form-label-group">
		<input type="text" id="displayVersion" name="displayVersion" class="form-control" placeholder="Version" value="{{server.displayVersion}}" disabled>
		<label for="displayVersion">Version</label>
		<small id="displayVersionHelp" class="form-text text-muted">This is the recommended version of Minecraft required to join your server. If you believe this is inaccurate you can send us an email at <a href="mailto:contact@server-lists.com">contact@server-lists.com</a></small>
	</div>

<div class="row" style="margin-bottom:10px">
	<div class="col-sm-8">
		<label for="country" style="vertical-align:baseline;padding-right:10px;">Country</label>
		<div class="bfh-selectbox bfh-countries" data-flags="true" data-name="country" data-country="{{server.country}}" data-blank="false" name="country" data-filter="true"></div>
		<small id="countryHelp" class="form-text text-muted" style="margin-top:0px">The country the server is located in</small>
    </div>
  </div>

<div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" name="description" rows="4" placeholder="Enter a meaningful description, describe your features and the appeal to new players..." minlength="30" maxlength="1000" required>{{server.description}}</textarea>
  </div>

<div class="form-group">
    <label for="serverType">Type</label>
    <select class="form-control" id="serverType" name="serverType">
      <option >Vanilla</option>
      <option>Semi-Vanilla</option>
      <option>Bukkit</option>
      <option>Spigot</option>
      <option>Paper</option>
	  <option>Modded</option>
    </select>
	<small id="typeHelp" class="form-text text-muted">Vanilla - Using the default minecraft server jar<br>Semi-Vanilla - Datapacks are installed<br>Bukkit/Spigot/Paper - Plugins are installed<br>Modded - Mods are required to connect
	</small>
</div>

<div class="form-group"  id="datapacksDiv">
	<label for="datapacks">Datapacks</label>
	<input type="text" value="{{server.datapacks}}" id="datapacks" name="datapacks" data-role="datapacksinput" >
	<small id="datapacksHelp" class="form-text text-muted">Choose up to 10 key datapacks that are on your server</small>
</div>

<div class="form-group"  id="pluginsDiv">
	<label for="plugins">Plugins</label>
	<input type="text" value="{{server.plugins}}" id="plugins" name="plugins" data-role="pluginsinput" >
	<small id="pluginsHelp" class="form-text text-muted">Choose up to 10 key plugins that are on your server</small>
</div>

<div class="form-group" id="modsDiv">
	<label for="mods">Mods/Modpack</label>
	<input type="text" value="{{server.mods}}" id="mods" name="mods" data-role="modsinput" >
	<small id="modsHelp" class="form-text text-muted">Choose up to 10 key mods or the modpack that is required on your server</small>
</div>

<div class="form-group">
	<label for="tags">Tags</label>
	<input type="text" value="{{server.tags}}" id="tags" name="tags" data-role="tagsinput">
	<small id="tagHelp" class="form-text text-muted">Choose up to 10 tags describing your server to help players find you</small>
</div>

<div class="form-group">
	<label for="bannerUpload">Banner</label>
	<div class="custom-file">
  		<input type="file" class="custom-file-input" id="bannerUpload" name="bannerUpload" accept="image/jpeg, image/png, image/gif">
  		<label class="custom-file-label" for="bannerUpload">Choose image...</label>
	</div>
	<small id="bannerUploadHelp" class="form-text text-muted">RECOMMENDED Choose a file that will be displayed as your main server image. Your image size <b>must be 498x60</b> otherwise it will get cropped.<br>Valid image types are:<br>GIF - Will show an animated banner.<br>PNG & JPG - Show's a still banner.</small>
	<div id="progress" class="progress" style="display:none">
	<div id="progressBar" class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
	</div>
	<div id="BannerDisplay" style="display:inline-block">
		<label for="BannerIMG">Banner Preview</label><br>
		<img id="BannerIMG" src="{{server.banner}}">
	</div>
	<div class="alert alert-success" role="alert" style="margin-top:10px">
	If you change your banner image it may not appear immediately, in order to improve website load speeds we keep temporary copies that can be accessed quickly across the world. This means <b>it may take some time for these copies to be updated & display.</b>
	</div>
</div>

<div class="form-group">
    <label for="votifierEnabled">Votifier Status</label>
    <select class="form-control" id="votifierEnabled" name="votifierEnabled">
	  {% if server.votifierEnabled == 0 %}
      <option selected>Disabled</option>
	  <option>Enabled</option>
	  {% else %}
	  <option>Disabled</option>
	  <option selected>Enabled</option>
	  {% endif %}
    </select>
	<small id="votifierEnabledHelp" class="form-text text-muted">To learn more about votifier click <a data-toggle="collapse" href="#votifierInfo" aria-expanded="false" aria-controls="votifierInfo">here.</a></small>
	<div class="collapse" id="votifierInfo" style="padding-top:10px">
	<div class="card card-body">
		<p>Votifier is a plugin that can be installed on a server that allows plugins such as Craftbukkit, Spigot or Paper. You cannot install it on the default Minecraft Server. <b>Votifier allows users to recieve in-game rewards for voting for your server,</b> voting increases your ranking on our site and increases your ability to get new players. If you are not using Votifier or don't have it setup currently, set this to disabled, otherwise you will have to know your Votifier details.<br><br><b>Setting up Votifier will require technical knowledge, including dedicating a new port to accept connections as well as finding your public key.</b> If you aren't using Votifier users will still be able to vote for your server on our site, they will just be unable to get rewards.<br><br>For help testing your Votifier setup you can head over to our <a href="{{url_for('MCRoutes.votifierTestPage')}}" target="_blank">testing page here.</a></p>
	</div>
	</div>
</div>
<div id="votifierHide">
<div class="form-label-group">
		<input type="text" id="votifierIP" name="votifierIP" class="form-control" placeholder="Votifier IP Address"  minlength="5" maxlength="35" value="{{server.votifierIP}}">
		<label for="votifierIP">Votifier IP Address</label>
		<small id="votifierIPHelp" class="form-text text-muted">The address your votifier plugin is installed at.</small>
</div>
<div class="form-label-group">
		<input type="number" id="votifierPort" name="votifierPort" class="form-control" placeholder="Port" value="{{server.votifierPort}}" min="1" max="65535">
		<label for="votifierPort">Votifier Port</label>
		<small id="votifierPortHelp" class="form-text text-muted">The port used to connect to Votifier, the default is 8192. <b>This cannnot not be the same as your Minecraft server port.</b></small>
</div>

<div class="form-group">
    <label for="votifierToken">Votifier Public Key</label>
    <textarea class="form-control" id="votifierToken" name="votifierToken" rows="4" placeholder="Navigate to the directory ./plugins/Votifier/rsa and copy the text inside the public.key file here." minlength="30" maxlength="1000">{{server.votifierToken}}</textarea>
	<small id="votifierTokenHelp" class="form-text text-muted">You need to have run the server with the plugin for this to have generated.</small>
  </div></div>


<div class="form-group">
	<label for="website">Website</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">https://</div>
        </div>
        <input type="text" class="form-control" id="website" name="website" placeholder="" maxlength="100" value="{{server.website}}">
      </div>
	<small id="websiteHelp" class="form-text text-muted">OPTIONAL A link to your website, do not include the https://</small>
</div>

<div class="form-group">
	<label for="discord">Discord</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Server ID</div>
        </div>
        <input type="text" class="form-control" id="discord" name="discord" placeholder="" maxlength="80" value="{{server.discord}}">
      </div>
	<small id="discordHelp" class="form-text text-muted">OPTIONAL Your Discord Server ID, to get this you need to <a href="https://blog.discord.com/add-the-discord-widget-to-your-site-d45ffcd718c6" target="_blank">Enable Your Server Widget.</a> Then just copy your Server ID here.</small>
	<div id="discordShowcase" class="container-sm" style="padding:10px"><div class="">
	<iframe id="discordFrame" width="100%" max-height="500" frameborder="0" allow="" allowfullscreen></iframe>
	</div></div>
</div>

<div class="form-group">
	<label for="trailer">Trailer</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">youtube.com/watch?v=</div>
        </div>
        <input type="text" class="form-control" id="trailer" name="trailer" placeholder="" maxlength="15" value="{{server.trailer}}">
      </div>
	<small id="trailerHelp" class="form-text text-muted">OPTIONAL A trailer showcasing your server, in the format of a youtube video. Only enter the section of the URL after v=</small>
	<div id="trailerShowcase" class="container-sm" style="padding:10px"><div class="videoWrapper">
		<iframe id="trailerFrame" max-width="560" max-height="315" frameborder="0" allow="accelerometer; encrypted-media; gyroscope;" allowfullscreen></iframe>
	</div></div>
</div>
{{form.recaptcha()}}
  {% if server.verified == 1 %}
  <button class="btn btn-lg btn-success btn-block" type="button" name="review" id="review" >Update Your Server</button>
  {% else %}
  <button class="btn btn-lg btn-warning btn-block" type="button" name="review" id="review" >Resubmit Your Server For Verification</button>
  {% endif %}
  <button style="display:none" type="submit" name="btnSubmit" id="btnSubmit" ></button>
  </form>
  </div></div>

<!-- Submission Modal -->
<div class="modal fade" id="submissionModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Verifying Submission</h5>
        <button id="closeModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="modal-body" style="margin-left:10px;margin-right:10px">
	<div id="test1" class="row">
        <p class="float-left" style="padding-top:2px">Pinging Server... </p><i class="fas fa-check float-right" id="test1Check"></i><i class="float-right fas fa-exclamation-triangle" id="test1Fail"></i><div id="test1Load" class="spinner-border text-success float-right" role="status"><span class="sr-only">Loading...</span></div></div>
	<div id="test2" class="row">
        <p class="float-left" style="padding-top:2px">Getting Server Details... </p><i class="fas fa-check float-right" id="test2Check"></i><i class="float-right fas fa-exclamation-triangle" id="test2Fail"></i><div id="test2Load" class="spinner-border text-success float-right" role="status"><span class="sr-only">Loading...</span></div></div>
	<div id="test3" class="row">
        <p class="float-left" style="padding-top:2px">Sending Test Vote... </p><i class="fas fa-check float-right" id="test3Check"></i><i class="float-right fas fa-exclamation-triangle" id="test3Fail"></i><div id="test3Load" class="spinner-border text-success float-right" role="status"><span class="sr-only">Loading...</span></div></div>
	<div id="details"  class="row-5">
        <b>Server IP: </b><samp id="IP_DETAILS"></samp><br>
		<b>Server MOTD: </b><samp id="MOTD_DETAILS"></samp><br>
		<b>Server Version: </b><samp id="VERSION_DETAILS"></samp><br>
		<b>Server Protocol: </b><samp id="PROTOCOL_DETAILS"></samp><br>
		<b>Server Players: </b><samp id="PLAYER_DETAILS"></samp><br>
		</div>
	<div id="extra"  class="row">
        <p class="float-left" style="padding-top:10px" id="extraText"></p></div>
      </div>
      <div class="modal-footer">
        <button id="closeModal2" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		<button id="submitForm" type="button" class="btn btn-success">Confirm Submission</button>
      </div>
    </div>
  </div>
</div>

<script>
if("{{server.trailer}}" != ""){
	$("#trailerFrame").attr('src',"https://www.youtube.com/embed/{{server.trailer}}")
}
$("#serverType").val('{{server.serverType}}')

updateTrailer();

$("#trailer").change(updateTrailer);

function updateTrailer(){
	if($("#trailer").val() != ""){
		$("#trailerFrame").attr('src',"https://www.youtube.com/embed/"+ $("#trailer").val())
		$("#trailerShowcase").show();
		$("#trailerFrame").css({"max-height":"","max-width":""})
	}else{
		$("#trailerShowcase").hide();
	}
}


updateDiscord();

$("#discord").change(updateDiscord);

function updateDiscord(){
	if($("#discord").val() != ""){
		$("#discordFrame").attr('src',"https://discordapp.com/widget?id="+ $("#discord").val()+"&theme=dark")
		$("#discordShowcase").show();
	}else{
		$("#discordShowcase").hide();
	}
}
</script>

<script>
document.getElementById("review").onclick = trySubmit;
document.getElementById("submitForm").onclick = submitForm;

function submitForm(){
	document.getElementById("ServerForm").submit();
}
function hideTests(){
	$("#test1").hide();
	$("#test2").hide();
	$("#test3").hide();
	$("#details").hide();
	$("#extraText").text("");
}

function showTest1(){
	hideTests();
	$("#test1Check").hide();
	$("#test1Fail").hide();
	$("#test1Load").show();
	$("#test1").show();
}

function showTest2(){
	$("#test2Check").hide();
	$("#test2Fail").hide();
	$("#test2Load").show();
	$("#test2").show();
}

function showTest3(){
	$("#test3Check").hide();
	$("#test3Fail").hide();
	$("#test3Load").show();
	$("#test3").show();
}

function testsFailed(){
	$("#closeModal").show();
	$("#closeModal2").show();
}

function trySubmit() {
	if(document.getElementById("ServerForm").reportValidity()){
	$("#closeModal").hide();
	$("#closeModal2").hide();
	$("#submitForm").hide();

	showTest1();

    $("#submissionModal").modal({
  		keyboard: false,
		focus:true,
		backdrop:"static"
	})

	SendPing($("#ip").val(),$("#port").val());
}}

function SendPing(ip, port){
	var _data = {"IP":ip,"PORT":port}
	$.ajax({
			type: "POST",
			url: "{{url_for('APIRoutes.APIPing')}}",
			data: JSON.stringify(_data),
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function(data){
				if(data["STATUS"] == "ONLINE"){
				$("#test1Check").show();
				$("#test1Load").hide();
				GetStatus(ip,port);
				}else{
					$("#test1Fail").show();
					$("#test1Load").hide();
					testsFailed();
					$("#extraText").text("Unable to reach your server, check it is online and this IP address is correct: "+ip+":"+port);
				}
			},
			error: function(errMsg) {
				$("#test1Fail").show();
				$("#test1Load").hide();
				testsFailed();
				$("#extraText").text("Unable to reach servers, check your internet connection is working.");
    		},
			timeout: 5000,
	})
}

function GetStatus(ip,port){
	showTest2();
	var _data = {"IP":ip,"PORT":port}
	$.ajax({
			type: "POST",
			url: "{{url_for('APIRoutes.APIStatus')}}",
			data: JSON.stringify(_data),
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function(data){
				if(data["STATUS"] == "ONLINE"){
				$("#test2Check").show();
				$("#test2Load").hide();
				if($("#votifierEnabled").val() == "Disabled"){
					$("#closeModal2").show();
					$("#submitForm").show();
					SetupDetails(data,ip,port)
				}else{
					TestVote(data,ip,port)
				}
				}else{
					$("#test2Fail").show();
					$("#test2Load").hide();
					testsFailed();
					$("#extraText").text("Unable to reach your server, check it is online.");
				}
			},
			error: function(errMsg) {
				$("#test2Fail").show();
				$("#test2Load").hide();
				testsFailed();
				$("#extraText").text("Unable to reach servers, check your internet connection is working.");
    		},
			timeout: 5000,
	})
}

function TestVote(_serverDetails,ip,port){
	showTest3();
	var _data = {"IP":$("#votifierIP").val(),"PORT":$("#votifierPort").val(),"TOKEN":$("#votifierToken").val()}
	$.ajax({
			type: "POST",
			url: "{{url_for('APIRoutes.APIVotifier')}}",
			data: JSON.stringify(_data),
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function(data){
				if(data["STATUS"] == true){
					$("#test3Check").show();
					$("#test3Load").hide();
					$("#closeModal2").show();
					$("#submitForm").show();
					SetupDetails(_serverDetails,ip,port)
				}else{
					$("#test3Fail").show();
					$("#test3Load").hide();
					testsFailed();
					$("#extraText").text(data['MESSAGE']);
				}
			},
			error: function(errMsg) {
				$("#test3Fail").show();
				$("#test3Load").hide();
				testsFailed();
				$("#extraText").text("Unable to reach servers, check your internet connection is working.");
    		},
			timeout: 5000,
	})
}

function SetupDetails(data,ip,port){
	if(port != "25565"){
	$("#IP_DETAILS").text(ip+":"+port)
	}else{
	$("#IP_DETAILS").text(ip)
	}
	$("#MOTD_DETAILS").text(data['MOTD'])
	$("#PROTOCOL_DETAILS").text(data['PROTOCOL'])
	$("#VERSION_DETAILS").text(data['VERSION'])
	$("#PLAYER_DETAILS").text(data['PLAYER_COUNT']+"/"+data['PLAYER_MAX'])
	$("#details").show();
}

</script>
<script>
var tags = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    prefetch: '{{url_for("static",filename="/json/tags.json")}}?{{cacheNum}}'
});
tags.initialize();
var datapacks = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    prefetch: '{{url_for("static",filename="/json/datapacks.json")}}?{{cacheNum}}'
});
datapacks.initialize();
var plugins = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    prefetch: '{{url_for("static",filename="/json/plugins.json")}}?{{cacheNum}}'
});
plugins.initialize();
var mods = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    prefetch: '{{url_for("static",filename="/json/mods.json")}}?{{cacheNum}}'
});
mods.initialize();
$('#tags').tagsinput({
	typeaheadjs: [{
        highlight:true,
		minlength: 0
    },[{
        name: 'tags',
        source: tags.ttAdapter()
    }]],
    freeInput: true,
	maxTags: 10,
	maxChars: 20,
	trimValue: true,
	allowDuplicates: false,
});
$('#mods').tagsinput({
	typeaheadjs: [{
        highlight:true,
		minlength: 0
    },[{
        name: 'mods',
        source: mods.ttAdapter()
    }]],
    freeInput: true,
	maxTags: 10,
	maxChars: 20,
	trimValue: true,
	allowDuplicates: false,
});$('#plugins').tagsinput({
	typeaheadjs: [{
        highlight:true,
		minlength: 0
    },[{
        name: 'plugins',
        source: plugins.ttAdapter()
    }]],
    freeInput: true,
	maxTags: 10,
	maxChars: 20,
	trimValue: true,
	allowDuplicates: false,
});
$('#datapacks').tagsinput({
	typeaheadjs: [{
        highlight:true,
		minlength: 0
    },[{
        name: 'datapacks',
        source: datapacks.ttAdapter()
    }]],
    freeInput: true,
	maxTags: 10,
	maxChars: 20,
	trimValue: true,
	allowDuplicates: false,
});

var pluginsOn = false;
var modsOn = false;
var datapacksOn = false;

function hideAll(){
	$('#datapacksDiv').hide();
	$('#pluginsDiv').hide();
	$('#modsDiv').hide();
}

$("#serverType").change(function() {
  if ($(this).val() == "Vanilla") {
    hideAll();
  } else if ($(this).val() == "Semi-Vanilla"){
    hideAll();
	$('#datapacksDiv').show();
  }else if ($(this).val() == "Modded"){
    hideAll();
	$('#modsDiv').show();
  }else {
    $('#modsDiv').hide();
	$('#datapacksDiv').show();
	$('#pluginsDiv').show();
  }
});

$("#serverType").trigger("change");


function testMods(){
	if(modsOn == false){
	$('#mods').tagsinput({
	typeaheadjs: [{
          minLength: 1,
          highlight: true,
    },{
        minlength: 1,
        name: 'citynames',
        displayKey: 'name',
        valueKey: 'name',
        source: citynames.ttAdapter()
    }],
    freeInput: true,
	maxTags: 10,
	maxChars: 20,
	trimValue: true,
	allowDuplicates: false,
	});
	modsOn = true;
	}
}

function testPlugins(){
	if(pluginsOn == false){
	$('#plugins').tagsinput({
	typeaheadjs: [{
          minLength: 1,
          highlight: true,
    },{
        minlength: 1,
        name: 'citynames',
        displayKey: 'name',
        valueKey: 'name',
        source: citynames.ttAdapter()
    }],
    freeInput: true,
	maxTags: 10,
	maxChars: 20,
	trimValue: true,
	allowDuplicates: false,
	});
	pluginsOn = true;
	}
}

function testDatapacks(){
	if(datapacksOn == false){
	$('#datapacks').tagsinput({
	typeaheadjs: [{
          minLength: 1,
          highlight: true,
    },{
        minlength: 1,
        name: 'citynames',
        displayKey: 'name',
        valueKey: 'name',
        source: citynames.ttAdapter()
    }],
    freeInput: true,
	maxTags: 10,
	maxChars: 20,
	trimValue: true,
	allowDuplicates: false,
	});
	datapacksOn = true;
	}
}

$('#bannerUpload').change(function () {

	// user has not chosen any file
	if(document.querySelector('#bannerUpload').files.length == 0) {
		alert('Error : No file selected');
		return;
	}

	// first file that was chosen
	var file = document.querySelector('#bannerUpload').files[0];

	// allowed types
	var mime_types = [ 'image/jpeg', 'image/png','image/gif','image/webp' ];
	
	// validate MIME type
	if(mime_types.indexOf(file.type) == -1) {
		alert('Error : Incorrect file type');
		return;
	}

	// max 2 MB size allowed
	if(file.size > 2*1024*1024) {
		alert('Error : Exceeded size 2MB');
		return;
	}

	// upload file now
	var data = new FormData();

	// file selected by the user
	// in case of multiple files append each of them
	data.append('file', document.querySelector('#bannerUpload').files[0]);

	var request = new XMLHttpRequest();
	request.open('post', '{{url_for("APIRoutes.APIBannerUpload")}}'); 
	var progressBar = $("#progressBar")
	progressBar.css({"width":"0%"})
	$("#progress").css({"display":"flex"})
	// upload progress event
	request.upload.addEventListener('progress', function(e) {
		var percent_complete = (e.loaded / e.total)*100;
		progressBar.css({"width":percent_complete+"%"})
		// Percentage of upload completed
	});

	// AJAX request finished event
	request.addEventListener('load', function(e) {
		$("#progress").css({"display":"none"})
		// HTTP status message

		// request.response will hold the response from the server
		json=JSON.parse(request.response)
		var imgsrc = json['IMGURL']

		$("#BannerDisplay").css({"display":"inline-block"})
		$("#BannerIMG").attr({"src":imgsrc})
		var containerURL = json['URL']
		$("#banner").attr({"value":containerURL})
	});

	// send POST request to server side script
	request.send(data);
});

function updateVotiifer(){
	if ($("#votifierEnabled").val() == "Enabled") {
		$("#votifierHide").show();
	} else {
		$("#votifierHide").hide();
	}
}

$("#votifierEnabled").change(updateVotiifer);
updateVotiifer();
</script>
{% endblock %}