{% extends 'mc/base.html' %}
{% set active_page = "home" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='css/search.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/background.css')}}">
<script rel="preload" src="{{url_for('static',filename='js/lazy-load.js')}}"></script>
<meta property="og:image" content="https://minecraft.server-lists.com/static/images/main/ogimage.png" />
<title>Home - Minecraft Server Lists</title>
<meta name="description" content="Easily Search and find the top Minecraft Servers using our Minecraft Server List. Host your MC Server IP today with us for free and advertise to get more players online.">
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "url": "https://minecraft.server-lists.com/",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://minecraft.server-lists.com/?search={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
</script>
<!-- Flags -->
<link rel="preload" href="https://cdn.jsdelivr.net/npm/world-flags-sprite@0.0.2/stylesheets/flags32.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="styles.css"></noscript>
<link href="{{url_for('static',filename='css/searchtagsinput.css')}}" rel="stylesheet">
{% endblock %}

{% block beforeBody %}
{% include 'mc/searchbar.html' %}
{% endblock %}

{% block body %}
<div class="area" id="prettyBackground" >
	<ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
</div >
<div class="row row-cols-1 row-cols-md-2" style="padding-top:50px">
{% for server in servers %}
<div class="col mb-4" style="width:100%;padding-bottom:30px;">
	<div class="card server-info CLICKABLE" style="cursor: pointer;" url="{{url_for('MCRoutes.serverInfoPage')}}/{{server.id}}">
		<div class="card-holder CLICKABLE">
			{% if server.online == 1 %}
			<a class="tag badge badge-success CLICKABLE" id="version">{{server.displayVersion}}</a>
			{% else %}
			<a class="tag badge badge-danger CLICKABLE" id="version">{{server.displayVersion}}</a>
			{% endif %}
    	{% if loop.index <= 4 %}
		<img src="{{server.banner}}" class="card-img-top CLICKABLE" alt="{{server.name}}">
		</div>
		{% else %}
		<img src="/images/main/LoadingBanner.webp" data-srcset="{{server.banner}}" class="lazy card-img-top CLICKABLE" alt="{{server.name}}">
		</div>
		{% endif %}
    	<div class="card-body CLICKABLE">
		<div id="info" class="CLICKABLE" style="display:inline-block;width:100%;height:100%">

			<a style="display:inline-block" class="badge badge-dark CLICKABLE" id="rank" title="Rank #{{server.rank}}">{{server.rank}}</a>
			<a class="card-title server-title CLICKABLE" id="ServerName" style="display:inline-block;white-space:nowrap;font-weight:600;padding-right:10px;margin-bottom:0px;"><div class="f32"><div class="flag {{server.country.lower()}}" style=""></div></div><p style="padding-left:40px;margin-bottom:0px;">{{server.name}}</p></a>
			
			<p class="CLICKABLE" style="display:inline-block;float:right;font-size:22.4px;font-weight:600;margin-bottom:0px;" title="Players {{server.playerCount}}/{{server.playerMax}}"><i class="fas fa-users CLICKABLE"></i> {{server.playerCount}}</p>
			<div id="Tags" style="display:block;padding-left:25px;margin-bottom:10px">
				{% for tag in server.tags.split(',') %}
				<a href="#" class="tag badge badge-dark">{{tag}}</a>
				{% endfor %}
			</div>
			<div id="IP" class="input-group" style="display:block;padding-left:25px;">
				<input type="text" class="form-control" value="{{server.displayIP}}" readonly style="display:inline-block;font-weight:500;width:calc(100% - 40px)" id="IP{{server.id}}">
				<div class="input-group-append" style="display:inline-block;">
					<button class="btn btn-secondary" type="button" onclick="copyIP({{server.id}})" style="display:inline-block;margin-left:-4px;margin-top:-4px" title="Copy Server IP Address"><i class="far fa-copy"></i></button>

			</div></div>
		</div>
		<div id="" class="row" style="padding:0px">
		</div></div>
      	<!--<p class="card-text">{{server.description}}</p>
    	</div></div>
    	<!--<div class="card-footer">
			<div>
			<a class="btn btn-primary" href="/course?ID={{server.id}}">Test</a>
	</div></div>-->
	</div>
</div>
{% endfor %}
</div>
<div id="pages">
<nav>
  <ul class="pagination">
    <li class="page-item {% if not prev_url %} disabled{% endif %}"><a class="page-link" href="{{ prev_url or '#' }}">Previous</a></li>
    <li class="page-item {% if not next_url %} disabled{% endif %}"><a class="page-link" href="{{ next_url or '#' }}">Next</a></li>
  </ul>
</nav></div></div>
<script>
$( ".server-info" ).click(function(event) {
if ($(event.target).hasClass("CLICKABLE") == false){
    return;
}
  window.location.href = $(this).attr('url');
});

function copyIP(id) {
  /* Get the text field */
  var copyText = document.getElementById("IP"+id);

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /*For mobile devices*/

  /* Copy the text inside the text field */
  document.execCommand("copy");
}

var tagURL = "{{url_for('MCRoutes.tagSearchPage',tagname='')}}"
$('.tag').each(function(i, obj) {
    _tag = $(this).text()
	$(this).attr("href", tagURL+_tag);
});

$( window ).resize(function() {
	$( "#prettyBackground" ).css({"height":$( "#MainContainer" ).height()+40+"px"})
});
$( window ).on("load", function(){
  $( "#prettyBackground" ).css({"height":$( "#MainContainer" ).height()+40+"px"})
});

</script>

{% endblock %}