{% extends 'mc/base.html' %}
{% set active_page = "home" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='css/search.css')}}">
<title>Home - Minecraft Server Lists</title>
{% endblock %}

{% block beforeBody %}
<header class="green-primary-back">
	<div class="container-fluid" style="padding-top:15px;max-width:90%">
	<div class="container-md" style="padding-bottom:35px;">
		<img src="https://cdn.statically.io/img/serverlist.jackdonaldson1.repl.co/images/background3.png" class="imgCenter" style="max-width:95%">
		<form action="" method="post" class="" role="form">
		<div class="input-group input-group-lg searchInput">
			<input type="text" class="form-control removeOutline" placeholder="Find a server you're interested in..." aria-label="Search box" aria-describedby="basic-addon2" name="search">
			<div class="input-group-append">
				<button class="btn btn-light removeOutline searchButton" type="submit">Search</button>
			</div>
		</div></form>
		<div id="tags" style = "padding-top:15px;text-align:center">
			<button type="button" class="btn btn-outline-light tagButton"><i class="fas fa-trophy"></i> Top</button>
			<button type="button" class="btn btn-outline-light tagButton"><i class="far fa-clock"></i> New</button>
			<button type="button" class="btn btn-outline-light tagButton"><i class="fas fa-infinity"></i> Creative</button>
			<button type="button" class="btn btn-outline-light tagButton"><img src="https://cdn.statically.io/img/serverlist.jackdonaldson1.repl.co/images/homeicon.png" class="textIcon"> Survival</button>
			<button type="button" class="btn btn-outline-light tagButton"><img src="https://cdn.statically.io/img/serverlist.jackdonaldson1.repl.co/images/swordcrossicon.png" class="textIcon"> PVP</button>
			<button type="button" class="btn btn-outline-light tagButton"><i class="fas fa-heart"></i> Vanilla</button>
			<button type="button" class="btn btn-outline-light tagButton"><i class="fas fa-tags"></i> More</button>
		</div>
  	</div>
	</div>
	</div>
</header>
{% endblock %}

{% block body %}
<div class="row row-cols-1 row-cols-md-2" style="padding-top:50px">
{% for server in servers %}
<div class="col mb-4" style="width:100%;padding-bottom:30px;">
	<div class="card server-info" style="cursor: pointer;" url="{{url_for('MCRoutes.serverInfoPage')}}/{{server.id}}">
		<div class="card-holder CLICKABLE">
			<a class="badge badge-success CLICKABLE" id="version">1.15.2</a>
    	<img src="{{server.banner}}" class="card-img-top CLICKABLE">
		</div>
    	<div class="card-body CLICKABLE">
		<div id="info" class="row CLICKABLE">
			<div class="col-7 CLICKABLE">
			<a class="badge badge-dark float-left CLICKABLE" id="rank">{{server.id}}</a><a class="card-title float-left server-title CLICKABLE" id="ServerName" style="margin-bottom:0px;font-weight:600">{{server.name}}</a></div>
			<div class="col-5 CLICKABLE">  
			<div id="IP" class="input-group float-right">
				<input type="text" class="form-control" value="{{server.ip}}" readonly style="font-weight:500" id="IP{{server.id}}">
				<div class="input-group-append">
					<button class="btn btn-secondary" type="button" onclick="copyIP({{server.id}})"><i class="far fa-copy"></i></button>
				</div>
			</div></div>
		</div>
		<div id="" class="row" style="padding:0px">
		</div></div>
      	<!--<p class="card-text">{{server.description}}</p>
    	</div></div>
    	<!--<div class="card-footer">
			<div>
			<a class="btn btn-primary" href="/course?ID={{server.id}}">Test</a>
	</div></div>-->
	</div>
</div>
{% endfor %}
</div>
<script>
$( ".server-info" ).click(function(event) {
if ($(event.target).hasClass("CLICKABLE") == false){
    return;
}
  window.location.href = $(this).attr('url');
});

function copyIP(id) {
  /* Get the text field */
  var copyText = document.getElementById("IP"+id);

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /*For mobile devices*/

  /* Copy the text inside the text field */
  document.execCommand("copy");
}
</script>
{% endblock %}