{% extends 'mc/base.html' %}
{% set active_page = "notallowed" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='css/notallowed.css')}}">
<title>Add Server - Minecraft Server Lists</title>
<meta name="description" content="Add your Minecraft Server on our website for free so that you can easily get more players to join your multiplayer game.">
{% endblock %}

{% block beforeBody %}
{% endblock %}

{% block body %}
<br>
<div class="container-sm" style="max-width:100%">
<img src="{{url_for('static',filename='images/background4.png')}}" style="max-width:inherit">
<div class="jumbotron-fluid">
  <h1 class="display-4">Add Your Server</h1>
  <p class="lead">In order to add your server you need to be logged in.</p>
  <hr class="my-4">
  <p>If you don't have an account it's quick and easy to register one, press an option below to get started!</p>
  <p class="lead">
    <a class="btn btn-success btn-lg" href="{{url_for('MCRoutes.loginPage')}}" role="button" style="margin-bottom:10px;">Login</a>
	<a class="btn btn-success btn-lg" href="{{url_for('MCRoutes.registerPage')}}" role="button" style="margin-bottom:10px;">Register</a>

	<button type="button" class="btn btn-lg btn-primary btn-block" style="margin-bottom:10px;font-weight:500;display:inline-block;max-width:350px" onclick="window.location.href = '{{url_for('MCRoutes.googleLoginPage')}}';"><img id="google" src="{{url_for('static',filename='images/main/googleIcon.png')}}" style="	max-height: 30px;vertical-align: middle;padding-right: 10px;">Sign in/Register with Google</button>
  </p>
</div>
</div>
{% endblock %}