{% extends 'mc/base.html' %}
{% set active_page = "terms" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='css/policy.css')}}">
<title>Terms Of User - Minecraft Server Lists</title>
{% endblock %}

{% block beforeBody %}
{% endblock %}

{% block body %}
<br>
<div class="container-sm" style="background-color:white;padding:20px;border-radius:5px">
	{% include 'notify.html' %}
	<h2><strong>Terms and Conditions</strong></h2>

	<p>Welcome to Game Server Lists!</p>

	<p>These terms and conditions outline the rules and regulations for the use of Game Server Lists's Websites, located at server-lists.com.</p>

	<p>By accessing this website we assume you accept these terms and conditions. Do not continue to use Game Server Lists if you do not agree to take all of the terms and conditions stated on this page.</p>

	<p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: "Client", "You" and "Your" refers to you, the person log on this website and compliant to the Company’s terms and conditions. "The Company", "Ourselves", "We", "Our" and "Us", refers to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services, in accordance with and subject to, prevailing law of Netherlands. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>

	<h3><strong>Cookies</strong></h3>

	<p>We employ the use of cookies. By accessing Game Server Lists, you agreed to use cookies in agreement with the Game Server Lists's Privacy Policy.</p>

	<p>Most interactive websites use cookies to let us retrieve the user’s details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising partners may also use cookies.</p>

	<h3><strong>License</strong></h3>

	<p>Unless otherwise stated, Game Server Lists and/or its licensors own the intellectual property rights for all material on Game Server Lists. All intellectual property rights are reserved. You may access this from Game Server Lists for your own personal use subjected to restrictions set in these terms and conditions.</p>

	<p>You must not:</p>
	<ul>
		<li>Republish material from Game Server Lists</li>
		<li>Sell, rent or sub-license material from Game Server Lists</li>
		<li>Reproduce, duplicate or copy material from Game Server Lists</li>
		<li>Redistribute content from Game Server Lists</li>
	</ul>

	<p>This Agreement shall begin on the date hereof.</p>

	<p>Parts of this website offer an opportunity for users to post and exchange opinions and information in certain areas of the website. Game Server Lists does not filter, edit, publish or review Comments prior to their presence on the website. Comments do not reflect the views and opinions of Game Server Lists,its agents and/or affiliates. Comments reflect the views and opinions of the person who post their views and opinions. To the extent permitted by applicable laws, Game Server Lists shall not be liable for the Comments or for any liability, damages or expenses caused and/or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website.</p>

	<p>Game Server Lists reserves the right to monitor all Comments and to remove any Comments which can be considered inappropriate, offensive or causes breach of these Terms and Conditions.</p>

	<p>You warrant and represent that:</p>

	<ul>
		<li>You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;</li>
		<li>The Comments do not invade any intellectual property right, including without limitation copyright, patent or trademark of any third party;</li>
		<li>The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material which is an invasion of privacy</li>
		<li>The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful activity.</li>
	</ul>

	<p>You hereby grant Game Server Lists a non-exclusive license to use, reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.</p>

	<h3><strong>Hyperlinking to our Content</strong></h3>

	<p>The following organizations may link to our Website without prior written approval:</p>

	<ul>
		<li>Government agencies;</li>
		<li>Search engines;</li>
		<li>News organizations;</li>
		<li>Online directory distributors may link to our Website in the same manner as they hyperlink to the Websites of other listed businesses; and</li>
		<li>System wide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to our Web site.</li>
	</ul>

	<p>These organizations may link to our home page, to publications or to other Website information so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products and/or services; and (c) fits within the context of the linking party’s site.</p>

	<p>We may consider and approve other link requests from the following types of organizations:</p>

	<ul>
		<li>commonly-known consumer and/or business information sources;</li>
		<li>dot.com community sites;</li>
		<li>associations or other groups representing charities;</li>
		<li>online directory distributors;</li>
		<li>internet portals;</li>
		<li>accounting, law and consulting firms; and</li>
		<li>educational institutions and trade associations.</li>
	</ul>

	<p>We will approve link requests from these organizations if we decide that: (a) the link would not make us look unfavorably to ourselves or to our accredited businesses; (b) the organization does not have any negative records with us; (c) the benefit to us from the visibility of the hyperlink compensates the absence of Game Server Lists; and (d) the link is in the context of general resource information.</p>

	<p>These organizations may link to our home page so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products or services; and (c) fits within the context of the linking party’s site.</p>

	<p>If you are one of the organizations listed in paragraph 2 above and are interested in linking to our website, you must inform us by sending an e-mail to Game Server Lists. Please include your name, your organization name, contact information as well as the URL of your site, a list of any URLs from which you intend to link to our Website, and a list of the URLs on our site to which you would like to link. Wait 2-3 weeks for a response.</p>

	<p>Approved organizations may hyperlink to our Website as follows:</p>

	<ul>
		<li>By use of our corporate name; or</li>
		<li>By use of the uniform resource locator being linked to; or</li>
		<li>By use of any other description of our Website being linked to that makes sense within the context and format of content on the linking party’s site.</li>
	</ul>

	<p>No use of Game Server Lists's logo or other artwork will be allowed for linking absent a trademark license agreement.</p>

	<h3><strong>iFrames</strong></h3>

	<p>Without prior approval and written permission, you may not create frames around our Webpages that alter in any way the visual presentation or appearance of our Website.</p>

	<h3><strong>Content Liability</strong></h3>

	<p>We shall not be hold responsible for any content that appears on your Website. You agree to protect and defend us against all claims that is rising on your Website. No link(s) should appear on any Website that may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights.</p>

	<h3><strong>Your Privacy</strong></h3>

	<p>Please read our <a href="{{url_for('MCRoutes.privacyPolicyPage')}}">Privacy Policy</a></p>

	<h3><strong>Reservation of Rights</strong></h3>

	<p>We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately remove all links to our Website upon request. We also reserve the right to amen these terms and conditions and it’s linking policy at any time. By continuously linking to our Website, you agree to be bound to and follow these linking terms and conditions.</p>

	<h3><strong>Removal of links from our website</strong></h3>

	<p>If you find any link on our Website that is offensive for any reason, you are free to contact and inform us any moment. We will consider requests to remove links but we are not obligated to or so or to respond to you directly.</p>

	<p>We do not ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we promise to ensure that the website remains available or that the material on the website is kept up to date.</p>

	<h3><strong>Disclaimer</strong></h3>

	<p>To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website. Nothing in this disclaimer will:</p>

	<ul>
		<li>limit or exclude our or your liability for death or personal injury;</li>
		<li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
		<li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
		<li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
	</ul>

	<p>The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer, including liabilities arising in contract, in tort and for breach of statutory duty.</p>

	<p>As long as the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.</p>

	<h3><strong>User-Generated Content</strong></h3>
	<p>Our sites may include information and materials uploaded by other users of the sites, including to bulletin boards and chat rooms. This information and these materials have not been verified or approved by us. The views expressed by other users on our sites do not represent our views or values.</p>

	If you wish to complain about information and materials uploaded by other users please <a target="_blank" href="mailto:contact@server-lists.com">contact us.</a></p>

	<h3><strong>Voting</strong></h3>
	<p>You may only vote for a particular server once per day. Voting must be carried out in person on our sites by entering your username and manually completing the reCAPTCHA verification. Voting through the use of automated voting scripts, bots or programs is strictly prohibited.

	The trading or sale of votes between different servers is strictly forbidden. Players may only be encouraged to vote (whether in-game or otherwise) for the listing of the server from which they have been sent. Encouraging votes from one server to the listing of another server, even if it is owned by the same individual, company or group of companies, is strictly forbidden.

	We reserve the right to discount votes or suspend voting if we have reason to suspect that fraudulent voting has occurred or if we consider there has been any attempt to rig the voting.</p>

	<h3><strong>Server Content</strong></h3>
	<p>You are only permitted to add a server our sites if you are the owner of the server or if you have been given explicit permission by the owner. You may only create one listing for the same server, multiple listings will be removed. Once a server has been added you agree that our sites can make regular attempts to gather and store data from your server (players online, version, MOTD etc...) and display this on our sites. As a server owner you agree not to upload any pornographic, illegal, racist or hateful content as part of the server details (banner, name, description etc...).</p>

	<h3><strong>Banners</strong></h3>
	<p>Rapidly flashing server banners are forbidden and may result in your server being removed from our sites. Banners may not confuse users into thinking they are part of the site structure, for example by using our assets or imitating site characteristics. Advertisement banners (Google Adsense) must also adhere to these rules. Judgment on banners and any action taken is entirely at the digression of our staff.</p>

	<h3><strong>Removal of Servers</strong></h3>
	<p>We reserve the right to remove any server at any time with or without prior notice. A server may be removed for a number of reasons including, but not limited to:
	<ul>
	<li>inappropriate server details (banner, name, description etc...)</li>
	<li>abuse of the voting system</li>
	<li>low uptime (servers older than 10 days are automatically removed if the uptime falls below 25%)</li>
	<li>anything other than the exact server name in the name field</li>
	<li>Cracked servers of any kind are strictly forbidden and should not be added to our sites. Any cracked servers discovered will be immediately removed.</li></ul>

	<p>In addition, we reserve the right to modify or remove individual server details (banner, name, description etc...) without prior notice when they are deemed inappropriate but not to the extent that warrants a complete removal of the server.</p>

	<h3><strong>Sponsored Servers</strong></h3>
	<p>We reserve the right to change the method by which sponsored slots are allocated from month to month and also the quantity and nature of the slots. By placing a bid during an auction you are agreeing that if your bid is in the top 5 when the auction closes (a winning bid) you will pay the full amount within 48 hours of the auction ending. Payments can be made using PayPal or Bitcoin (Coinbase). You may also be obliged to pay if another server fails to do so (or is deleted) and your bid moves into the top 5 bids. If this situation arises payment is expected within 24 hours of us giving notice. Failure to pay will result in the permanent removal of your server (and any other servers you own) from our sites. We reserve the right to remove bids at any point during and after the auction provided payment has not been made. Sponsored server slots are non-refundable and are provided 'as-is' with no guarantee of uptime or site traffic included.</p>

	<h3><strong>Advertisements</strong></h3>
	<p>We display banner advertisements in various sections of our sites. This content is third-party and not endorsed by us in any way. Please see our Privacy Notice for more information.</p>

	<h3><strong>Uploading content to our sites</strong></h3>
	<p>Any content you upload to our sites will be considered non-confidential and non- proprietary. You retain all of your ownership rights in your content, but you are required to grant us and other users of our sites a licence to use, store and copy that content and to distribute and make it available to third parties. The rights you license to us are described in Rights you are giving us to use material you upload.</p>

	<p>We also have the right to disclose your identity to any third party who is claiming that any content posted or uploaded by you to our sites constitutes a violation of their intellectual property rights, or of their right to privacy.</p>

	<p>We have the right to remove any posting you make on our sites if, in our opinion, your post does not comply with our content standards.</p>

	<p>You are solely responsible for securing and backing up your content.</p>

	<h3><strong>Rights you are giving us to use material you upload</strong></h3>
	<p>When you upload or post content to our sites, you grant to us and shall ensure and procure that we are granted a perpetual, irrevocable, world-wide, non-exclusive, royalty free, transferrable licence, with the right to grant sub-licences, to use, copy, edit, distribute, transmit, store, host, run, play, adapt, publish, re-publish, translate, publicly perform and display, create derivative works from, and do anything else whatsoever with, your content, for any purpose, and in, using, on or through any form, media, medium or technology (whether now known or later developed).</p>

	For example (without limitation), by uploading, posting, or sending a message or other content on our sites, or by adding a server to our sites we may:
	<ul>
	<li>display the same to others through our sites;</li>
	<li>display the same on third party websites and applications, including through embedding, and sub-licence third parties accordingly;</li>
	<li>make regular attempts to gather and store data from your server, including (without limitation) your username, players online, uptime percentage and version.</li>
	<li>allow and sub-licence other users of our sites to download, copy, store, play, print, make derivative works from and view the same;</li>
	<li>use the same for promotional purposes.</li></ul>
	You waive all moral rights (including to be identified as author) in relation to your content. You warrant that you have the right to grant the licence above, and that the exercise by us of that licence shall not infringe any copyright or other intellectual property rights in any part of the world.</p>

	<h3><strong>We are not responsible for viruses and you must not introduce them</strong></h3>
	<p>We do not guarantee that our sites will be secure or free from bugs or viruses.</p>

	<p>You are responsible for configuring your information technology, computer programmes and platform to access our sites. You should use your own virus protection software.</p>

	<p>You must not misuse our sites by knowingly introducing viruses, trojans, worms, logic bombs or other material that is malicious or technologically harmful. You must not attempt to gain unauthorised access to our sites, the server on which our sites are stored or any server, computer or database connected to our sites. You must not attack our sites via a denial-of-service attack or a distributed denial-of service attack. By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use our sites will cease immediately.</p>
	</div>
{% endblock %}