{% extends 'admin/base.html' %}

{% block head %}
<title>Reviews</title>
{% endblock %}

{% block beforeBody %}
<div class="container-sm" style="padding-top:50px">
{% include 'notify.html' %}
<h1>Server's Requiring Review</h1>
{% for server in reviews %}
<a href="{{url_for('AdminRoutes.reviewPage')}}?id={{server.id}}">{{server.name}}</a><br>
{% endfor %}
{% if needToReviewTags %}
<h1>Tags Require Review</h1>
<a href="{{url_for('AdminRoutes.reviewTagsPage')}}">Click Here To Review Tags</a><br>
{% endif %}
</div>
{% endblock %}

{% block body %}
{% endblock %}