{% extends 'admin/base.html' %}

{% block head %}
<title>Review</title>
<link rel="stylesheet" href="{{url_for('static',filename='css/review.css')}}">
{% endblock %}

{% block beforeBody %}
<div class="container-sm" style="padding-top:50px">
{% include 'notify.html' %}
<h1>Server Details</h1>
<form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
		<div class="form-group">
			{% if server.verified == 3 %}
			<h2 style="margin-top:20px">This Server Was Previously Denied Because:</h2>
			<div class="alert alert-danger" role="alert" style="margin-top:10px">
			{{server.rejectReason}}</b>
			</div>
			{% elif server.verified == 10 %}
			<h2 style="margin-top:20px"><span class="badge badge-danger" style="padding:20px">This Server Is Banned</span></h2>
			{% endif %}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(value=server.name) }}
        </p>
        <p>
            {{ form.ip.label }}<br>
            {{ form.ip(value=server.ip) }}
        </p>
		<p>
            {{ form.port.label }}<br>
            {{ form.port(value=server.port) }}
        </p>
		<p>
            {{ form.country.label }}<br>
            {{ form.country(value=server.country) }}
        </p>
		<p>
            {{ form.version.label }}<br>
			<textarea name="version" id="version">{{server.version}}</textarea>
        </p>
		<p>
            {{ form.displayVersion.label }}<br>
            {{ form.displayVersion(value=server.displayVersion) }}
        </p>
		<p>
            {{ form.description.label }}<br>
			<textarea name="description" id="description">{{server.description}}</textarea>
        </p>
		<p>
            {{ form.serverType.label }}<br>
			<select id="serverType" name="serverType">
			<option>Vanilla</option>
			<option>Semi-Vanilla</option>
			<option>Bukkit</option>
			<option>Spigot</option>
			<option>Paper</option>
			<option>Modded</option>
			</select>
        </p>
		<p>
            {{ form.votifierEnabled.label }}<br>
			<select id="votifierEnabled" name="votifierEnabled">
			{% if server.votifierEnabled == 0 %}
			<option selected>Disabled</option>
			<option>Enabled</option>
			{% else %}
			<option>Disabled</option>
			<option selected>Enabled</option>
			{% endif %}
			</select>
        </p>
		<p>
            {{ form.votifierPort.label }}<br>
            {{ form.votifierPort(value=server.votifierPort) }}
        </p>
		<p>
            {{ form.votifierToken.label }}<br>
			<textarea name="votifierToken" id="votifierToken">{{server.votifierToken}}</textarea>
        </p>
		<p>
            {{ form.plugins.label }}<br>
			<textarea name="plugins" id="plugins">{{server.plugins}}</textarea>
        </p>
		<p>
            {{ form.datapacks.label }}<br>
			<textarea name="datapacks" id="datapacks">{{server.datapacks}}</textarea>
        </p>
		<p>
            {{ form.mods.label }}<br>
			<textarea name="mods" id="mods">{{server.mods}}</textarea>
        </p>
		<p>
            {{ form.tags.label }}<br>
			<textarea name="tags" id="tags">{{server.tags}}</textarea>
        </p>
		<p>
            {{ form.website.label }}<br>
            {{ form.website(value=server.website) }}
			<a href="https://{{server.website}}" target="_blank">View Website</a>
        </p>
		<p>
            {{ form.discord.label }}<br>
            {{ form.discord(value=server.discord) }}
			{% if server.discord != "" %}
			<iframe src="https://discordapp.com/widget?id={{server.discord}}&theme=dark" width="100%" height="500" allowtransparency="true" frameborder="0"></iframe>
			{% endif %}
        </p>
		<p>
            {{ form.trailer.label }}<br>
            {{ form.trailer(value=server.trailer) }}
			<a href="https://www.youtube.com/watch?v={{server.trailer}}" target="_blank">View Trailer</a>
        </p>
		<p>
            {{ form.totalVotes.label }}<br>
            {{ form.totalVotes(value=server.totalVotes) }}
        </p>
		<p>
            {{ form.monthlyVotes.label }}<br>
            {{ form.monthlyVotes(value=server.monthlyVotes) }}
        </p>
		<p>
            {{ form.rank.label }}<br>
            {{ form.rank(value=server.rank) }}
        </p>
		<p>
            {{ form.playerCount.label }}<br>
            {{ form.playerCount(value=server.playerCount) }}
        </p>
		<p>
            {{ form.playerMax.label }}<br>
            {{ form.playerMax(value=server.playerMax) }}
        </p>
		<div>
		<p>Icon</p>
		<img src="{{server.icon}}">
		</div>
		<div>
		<p>Banner</p>
		<img src="{{server.banner}}">
		</div>
		<p>
            {{ form.banner.label }}<br>
            {{ form.banner(value=server.banner) }}
			<p> Default Banner Loc </p><input value="/images/main/LoadingBanner.webp" disabled>
        </p>
		<p>
            {{ form.rejectReason.label }}<br>
			<textarea name="rejectReason" id="rejectReason">{{server.rejectReason}}</textarea>
        </p>
		<p>
            {{ form.notes.label }}<br>
			<textarea name="notes" id="notes">{{server.notes}}</textarea>
        </p>
		<button class="btn-success" type="submit" name="approve" formaction="{{url_for('AdminRoutes.reviewPage')}}?id={{server.id}}&action=APPROVE">Approve</button>
		<button class="btn-danger float-right" type="submit" name="reject" formaction="{{url_for('AdminRoutes.reviewPage')}}?id={{server.id}}&action=REJECT">Reject</button>
		</div>
		<div>
		<button class="btn-primary float-left" type="submit" name="update" formaction="{{url_for('AdminRoutes.reviewPage')}}?id={{server.id}}&action=UPDATE">Update Case</button>
		<button class="btn-warning float-right" type="submit" name="update" formaction="{{url_for('AdminRoutes.reviewPage')}}?id={{server.id}}&action=BAN">Ban Server</button>
		</div>

		<div style="height:200px"></div>
</form>
</div>
<script>
	$("#serverType").val('{{server.serverType}}')
</script>
{% endblock %}

{% block body %}
{% endblock %}