*:focus {
    outline: 0;
}

#mainNav{
	background-color:#18A558;
}

.navbar-nav{
	margin-left:15px;
}

.navbar-nav > li:hover {
  background-color: rgba(0,0,0,0.2);
}

.navbar-nav > li{
  padding-left:15px;
  padding-right:15px;
  transition: all 0.25s fade-in-out;
}
.nav-item .nav-link{
	  color: rgba(255,255,255,.75) !important;
	  white-space:nowrap;
}

.nav-item:hover .nav-link,.nav-item:hover:active .nav-link{
	  color: rgba(255,255,255,.9) !important;
}

.active .nav-link{
	  color: rgba(255,255,255,1) !important;
}

.green-primary-back{
	background-color:#18A558;
	color:white;
}

#title{
	font-size: calc(22px + (36 - 22) * ((100vw - 350px) / (1600 - 300)));
	font-family:Karla,sans-serif;
	font-weight:600;
	margin-left:12.5px;
	display:inline-block;
	vertical-align: sub;
	margin-bottom: 0px;

}

#subtitle{
	font-size:20px;
	font-family:Karla,sans-serif;
	font-weight:400;
}

.flag{
	vertical-align:middle !important;
	float:left;
	padding-right:4px;
}

.navbar-brand{
	margin-right:0px !important;
}

.navbar-collapse{
	padding-left:0px;
}

#mcIcon{
	padding-right:0px !important;
}

@media only screen and (max-width: 480px) {
    #mcIcon {
         max-height: 25px;
    }
}

footer{
	background-color:#343a40;
	color:white;
	margin-top:30px;
	padding-top:10px;
}

.deep-purple{
	border-color:white;
}

.white-link,.white-link:hover,.white-link:active,.white-link:hover:active{
	color:white;
}

.text-uppercase{
	margin-bottom:0px;
}

.navbar-toggler{
	padding:0px;
}

.cookiealert{
	background:#212327 !important;
}

.acceptcookies{
	font-weight:450;
}