body{
	background-color:#18A558;
}

.container-md{
	background-color:white;
	padding:20px;
	border-radius:5px;
}

.form-report {
  width: 100%;
  padding: 15px;
  margin: auto;
}

.g-recaptcha{
	margin-bottom:15px;
}

@media only screen and (max-device-width: 480px) {
	.g-recaptcha {
		transform:scale(0.77);
		transform-origin:0 0;
	}
}