{% extends 'email/base_email.html' %}
{% block main %}
    <p style="font-size:20px"><b>Hello {{ user.email }},</b></p>
    <p>
        <h1>Your data is ready for download!</h1>     <br>
        To download it simply <a href="{{ url_for('MCRoutes.retrieveDataPage', _external=True) }}"> click here</a>.
    </p>
    <p>Alternatively, you can paste the following link in your browser's address bar:</p>
    <p>{{url_for('MCRoutes.retrieveDataPage', _external=True) }}</p>
    <br>
    <h4>For security purposes you have up to 2 days to use this link.</h4>
    <br>
    <p>Sincerely,</p>
    <p>The Serverlist Team</p>
{% endblock %}