{% extends 'email/base_email.html' %}
{% block main %}
    <p style="font-size:20px"><b>Hello {{ user.email }},</b></p>
	<h4>We have received a request asking for a reminder of your username.</h4>
	<p>
		It is actually <b>{{user.username}}</b>. 
		To login with it <a href="{{ url_for('MCRoutes.MCHomePage', _external=True) }}">click here</a>.
	</p>
	<br>
	<p>Alternatively, you can paste the following link into your browser's address bar:</p>
	<p>{{ url_for('MCRoutes.MCHomePage', _external=True) }}</p>
<br>
	<p>Sincerely,</p>
	<p>The Serverlist Team</p>
{% endblock %}