{% extends 'email/base_email.html' %}
{% block main %}
    <p style="font-size:20px"><b>Hello {{ user.email }},</b></p>
	<h4>We have received a request asking to reset your password.</h4>
	<p>
		In order to do this <a href="{{ url_for('MCRoutes.resetPasswordPage', token=token, _external=True) }}">click here</a>.
	</p>
	<br>
	<p>Alternatively, you can paste the following link into your browser's address bar:</p>
	<p>{{ url_for('MCRoutes.resetPasswordPage', token=token, _external=True) }}</p>
	<h4>If you have not requested a password reset simply ignore this message.</h4>
	<br>
	<p>Sincerely,</p>
	<p>The Serverlist Team</p>
{% endblock %}