{% extends 'mc/post.html' %}

{% block pageHead %}
<title>How To Make A Minecraft Server In A Few Easy Steps</title>
<meta name="description" content="A collection of guides related to setting up and starting a Minecraft Server.">
{% endblock %}

{% block pageTitle %}
<h2 style="padding-bottom:20px;font-size:62px;width:70%;margin-left:auto;margin-right:auto;">How To Make A Minecraft Server</h2>
{% endblock %}

{% block pageBody %}
<p>Testsing dfsjg ker jgek rgerj gekr jerk jgek rjeg rjgerj gerj gerkj ergjerge rkgjge jeg rjkerg jkerg e rgger jerg jerg jker g erg jkerg jkerg jkerg jger jkger j j re</p>
{% endblock %}