{% extends 'mc/post.html' %}

{% block pageHead %}
<title>How To Make A Minecraft Server For Free</title>
<meta name="description" content="A collection of guides related to setting up and starting a Minecraft Server.">
{% endblock %}

{% block pageTitle %}
<h2 style="padding-bottom:20px;font-size:62px;width:70%;margin-left:auto;margin-right:auto;">How To Make A Minecraft Server For Free</h2>
{% endblock %}

{% block pageBody %}
<p class="medium justify"><b>Starting a Minecraft Server</b> can seem like a daunting task but if you follow this guide then you can start playing with your friends easily, for free. This guide will <b>work on all different Minecraft Versions including 1.15 & 1.16.</b><br><br>
A Minecraft Server is a program that you can run on your computer which will allow other users to connect to it. The server is responsible for generating the world & the person who controls it gains administrator privileges meaning that they can use commands such as teleporting or turning their gamemode to creative.</p>

<p class="medium justify"><b>In order to join a Minecraft Server you will need to own a copy of Minecraft,</b> if you don't already have one then you can simply go to <a href="https://minecraft.net/en-us/" target="_blank" rel="nofollow noindex">Mojang's website</a> and purchase a copy instantly. Once you have done that you must first <a href="https://www.minecraft.net/en-us/store/minecraft-java-edition" target="_blank" rel="nofollow noindex">download the Minecraft Launcher</a> & <a href="https://www.java.com/en/download/" target="_blank" rel="nofollow noindex">install Java</a> so you can run the game.</p>

<p class="medium justify">Minecrafts server software supports a variety of operating systems meaning it can be installed on a <b>Windows, Mac or Linux</b> computer.</p>

<p class="medium justify"><b>So, if you've read all that then we can get started!</b></p><br>

<img id="mcscreen1" class="postimg" style="max-width: 700px;" src="/static/images/mcscreen1.jpeg"/>
<label for="mcscreen1" class="postlabel">A group of Minecraft players, playing together online.</label>
<h3>Picking A Computer To Host Your Server</h3>
<p class="medium justify"><b>This article is currently unfinished, please come back later.</b></p>
<h3>Downloading The Required Software</h3>
<p class="medium justify"><b>This article is currently unfinished, please come back later.</b></p>

{% endblock %}